.editContact__container{
    flex: 1;
    margin-top: 5rem;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
}
.editContact__container form{
    border: 1px solid teal;
    width: 30rem;
    padding: 3rem 2rem;
    border-radius: 5px;
}

/* medium screen (Laptops and Small screens) */
@media only screen and (min-width: 769px) and (max-width: 1024px){
    .editContact__container{
        left: 70%;
    }
    .editContact__container form {
        width: 25rem;
    } 
}

/* small screen (ipads and Tablets) */
@media only screen and (min-width: 481px) and (max-width: 768px){
    .editContact__container{
        left: 70%;
    }
    .editContact__container form {
        width: 17rem;
        margin-top: 2rem;
        padding: 2rem;
    }

}